.idea/.name
.idea/encodings.xml
.idea/FuzzyClassificator.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/FCLogger.cpython-33.pyc
__pycache__/FuzzyRoutines.cpython-33.pyc
__pycache__/PyBrainLearning.cpython-32.pyc
__pycache__/PyBrainLearning.cpython-33.pyc
fc.log
Gilmullin_Fuzzy_classificator_2014_DRAFT.rar
pybrain.zip
pybrain/__pycache__/__init__.cpython-32.pyc
pybrain/__pycache__/__init__.cpython-33.pyc
pybrain/__pycache__/utilities.cpython-33.pyc
pybrain/auxiliary/__pycache__/__init__.cpython-33.pyc
pybrain/auxiliary/__pycache__/gaussprocess.cpython-33.pyc
pybrain/auxiliary/__pycache__/gradientdescent.cpython-33.pyc
pybrain/auxiliary/__pycache__/importancemixing.cpython-33.pyc
pybrain/datasets/__pycache__/__init__.cpython-33.pyc
pybrain/datasets/__pycache__/classification.cpython-33.pyc
pybrain/datasets/__pycache__/dataset.cpython-33.pyc
pybrain/datasets/__pycache__/importance.cpython-33.pyc
pybrain/datasets/__pycache__/reinforcement.cpython-33.pyc
pybrain/datasets/__pycache__/sequential.cpython-33.pyc
pybrain/datasets/__pycache__/supervised.cpython-33.pyc
pybrain/datasets/__pycache__/unsupervised.cpython-33.pyc
pybrain/structure/__pycache__/__init__.cpython-32.pyc
pybrain/structure/__pycache__/__init__.cpython-33.pyc
pybrain/structure/__pycache__/modulemesh.cpython-33.pyc
pybrain/structure/__pycache__/moduleslice.cpython-33.pyc
pybrain/structure/__pycache__/parametercontainer.cpython-33.pyc
pybrain/structure/connections/__pycache__/__init__.cpython-32.pyc
pybrain/structure/connections/__pycache__/__init__.cpython-33.pyc
pybrain/structure/connections/__pycache__/connection.cpython-33.pyc
pybrain/structure/connections/__pycache__/full.cpython-32.pyc
pybrain/structure/connections/__pycache__/full.cpython-33.pyc
pybrain/structure/connections/__pycache__/fullnotself.cpython-33.pyc
pybrain/structure/connections/__pycache__/identity.cpython-33.pyc
pybrain/structure/connections/__pycache__/linear.cpython-33.pyc
pybrain/structure/connections/__pycache__/shared.cpython-33.pyc
pybrain/structure/connections/__pycache__/subsampling.cpython-33.pyc
pybrain/structure/evolvables/__pycache__/__init__.cpython-33.pyc
pybrain/structure/evolvables/__pycache__/evolvable.cpython-33.pyc
pybrain/structure/modules/__pycache__/__init__.cpython-33.pyc
pybrain/structure/modules/__pycache__/biasunit.cpython-33.pyc
pybrain/structure/modules/__pycache__/gate.cpython-33.pyc
pybrain/structure/modules/__pycache__/gaussianlayer.cpython-33.pyc
pybrain/structure/modules/__pycache__/kohonen.cpython-33.pyc
pybrain/structure/modules/__pycache__/linearlayer.cpython-33.pyc
pybrain/structure/modules/__pycache__/lstm.cpython-33.pyc
pybrain/structure/modules/__pycache__/mdlstm.cpython-33.pyc
pybrain/structure/modules/__pycache__/mdrnnlayer.cpython-33.pyc
pybrain/structure/modules/__pycache__/module.cpython-33.pyc
pybrain/structure/modules/__pycache__/neuronlayer.cpython-33.pyc
pybrain/structure/modules/__pycache__/relulayer.cpython-33.pyc
pybrain/structure/modules/__pycache__/sigmoidlayer.cpython-33.pyc
pybrain/structure/modules/__pycache__/softmax.cpython-33.pyc
pybrain/structure/modules/__pycache__/statedependentlayer.cpython-33.pyc
pybrain/structure/modules/__pycache__/table.cpython-33.pyc
pybrain/structure/modules/__pycache__/tanhlayer.cpython-33.pyc
pybrain/structure/networks/__pycache__/__init__.cpython-33.pyc
pybrain/structure/networks/__pycache__/bidirectional.cpython-33.pyc
pybrain/structure/networks/__pycache__/borderswiping.cpython-33.pyc
pybrain/structure/networks/__pycache__/feedforward.cpython-33.pyc
pybrain/structure/networks/__pycache__/network.cpython-33.pyc
pybrain/structure/networks/__pycache__/neurondecomposable.cpython-33.pyc
pybrain/structure/networks/__pycache__/recurrent.cpython-33.pyc
pybrain/structure/networks/__pycache__/swiping.cpython-33.pyc
pybrain/structure/networks/custom/__pycache__/__init__.cpython-33.pyc
pybrain/supervised/__pycache__/__init__.cpython-33.pyc
pybrain/supervised/trainers/__pycache__/__init__.cpython-33.pyc
pybrain/supervised/trainers/__pycache__/backprop.cpython-33.pyc
pybrain/supervised/trainers/__pycache__/rprop.cpython-33.pyc
pybrain/supervised/trainers/__pycache__/trainer.cpython-33.pyc
pybrain/tools/__pycache__/__init__.cpython-33.pyc
pybrain/tools/__pycache__/functions.cpython-33.pyc
pybrain/tools/__pycache__/neuralnets.cpython-33.pyc
pybrain/tools/__pycache__/shortcuts.cpython-33.pyc
pybrain/tools/customxml/__pycache__/__init__.cpython-33.pyc
pybrain/tools/customxml/__pycache__/handling.cpython-33.pyc
pybrain/tools/customxml/__pycache__/networkreader.cpython-33.pyc
pybrain/tools/customxml/__pycache__/networkwriter.cpython-33.pyc
pybrain/tools/plotting/__pycache__/__init__.cpython-33.pyc
